<style lang="css">



</style>

<template lang="html">

<div id="province">
</div>

</template>

<script>
export default {
  mounted: function() {
    var svg = d3.select('svg').append("g")
      .datum({
        x: 0,
        y: 0
      })
  },
  methods: {
    dragged: function dragged() {

    },
    dragEnd: function dragEnd() {

    }
  }
}
</script>
