<style>

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

</style>

<template>

<div id="app">
    <!-- <img src="./assets/China-outline.svg" alt=""> -->
    <!-- <img src="./assets/logo.png">
    <div>
        <p>
            If Element is successfully added to this project, you'll see an
            <code v-text="'<el-button>'"></code> below
        </p>
        <el-button>el-button</el-button>
    </div>
    <HelloWorld msg="Welcome to Your Vue.js App" /> -->
</div>

</template>

<script>

import HelloWorld from './components/HelloWorld.vue'
import * as d3 from "d3";
// import * as china from './china.geojson';
const provinces = ['an_hui_geo.json',
    // 'ao_men_geo.json',
    'bei_jing_geo.json',
    'chong_qing_geo.json',
    'fu_jian_geo.json',
    'gan_su_geo.json',
    'guang_dong_geo.json',
    'guang_xi_geo.json',
    'gui_zhou_geo.json',
    'hai_nan_geo.json',
    'he_bei_geo.json',
    'hei_long_jiang_geo.json',
    'he_nan_geo.json',
    'hu_bei_geo.json',
    'hu_nan_geo.json',
    'jiang_su_geo.json',
    'jiang_xi_geo.json',
    'ji_lin_geo.json',
    'liao_ning_geo.json',
    'nei_meng_gu_geo.json',
    'ning_xia_geo.json',
    'qing_hai_geo.json',
    'shan_dong_geo.json',
    'shang_hai_geo.json',
    'shan_xi_1_geo.json',
    'shan_xi_2_geo.json',
    'si_chuan_geo.json',
    'tai_wan_geo.json',
    'tian_jin_geo.json',
    'xiang_gang_geo.json',
    'xin_jiang_geo.json',
    'xi_zang_geo.json',
    'yun_nan_geo.json',
    'zhe_jiang_geo.json'
]


const randomNum = (max) => Math.floor(Math.random() * Math.floor(max));
export default {
    name: 'app',
    mounted: async function() {
        var width = 1000;
        var height = 950;
        var svg = d3.select(this.$el).append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", "translate(0,0)");
        var projection = d3.geoMercator()
            .center([107, 31])
            .scale(850)
            .translate([width / 2, height / 2]);
        var path = d3.geoPath(projection);
        var color = d3.scaleOrdinal(d3.schemeCategory10);
        Promise.all([d3.json('./china.json')]).then(([china]) => {
            svg.selectAll("path")
                .data(china.features)
                .enter()
                .append("path")
                .attr("stroke", "#000")
                .attr("stroke-width", 0.5)
                .attr("fill", 'white')
                .attr("d", path)
        });
        async function reload() {
            var randomProvince = randomNum(provinces.length);
            var province = await d3.json('provinces/' + provinces[randomProvince]);
            provinces.splice(randomProvince, 1);
            // .then((province) => {
            // let svg =

            d3.select('svg').append('g')
                .datum({
                    x: 0,
                    y: 0
                })
                .attr("transform", "translate(" + randomNum(randomNum(100)) + "," + randomNum(randomNum(-100)) + ")")
                .attr("id", "province")
                .selectAll("path")
                .data(province.features)
                .enter()
                .append("path")
                .attr("stroke", "#000")
                .attr("stroke-width", 0.5)
                .attr("fill", color(randomNum(50)))
                .attr("d", path);

            d3.select('#province').call(d3.drag()
                .on("drag", dragged).on("end", dragEnd))
        }


        function dragged(d) {
            d3.select(this).attr("transform", "translate(" + (d.x = d3.event.x) + "," + (d.y = d3.event.y) + ")");
        }

        function dragEnd(d) {
            // console.log(d3.event.x + ',' + d3.event.y);
            let x = Math.floor(d3.event.x),
                y = Math.floor(d3.event.y);
            if ((x >= 0 && x <= 10 || y >= 0 &&
                    y <= 10) ||
                (x >= -10 && x <= 0 || y >= -10 &&
                    y <= 0)) {
                // console.log('goal')
                d3.select(this).attr("transform", "translate(0,0)");
                d3.select(this).on("mousedown.drag", null);
                d3.select(this).attr("id", null);
                if (provinces.length > 0) reload();
            }
        }
        reload();
        // }).catch(error => console.log(error));
    }
}

</script>
